@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("./../fonts/roboto.woff2") format("woff2"),
    url("./../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), url("./../fonts/robotobold.woff2") format("woff2"),
    url("./../fonts/robotobold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"),
    url("./../fonts/robotomedium.woff2") format("woff2"),
    url("./../fonts/robotomedium.woff") format("woff");
}

:root {
  --default-light-text: #ffff;
  --default-dark-text: #323232;
  --default-input-border: rgba(178, 178, 178, 0.52);
  --dark-text: #5a5a5a;
  --default-box-shadow: rgba(0, 0, 0, 0.4);
  --modal-light-bg: #f8f7f4;
  --address-light-bg: #fefefe;
  --placeholder-color: #999999;
  --full-basket-color: #e84d37;
  --catalog-bg: rgba(50, 50, 50, 0.2);
  --translucent-light: rgba(255, 255, 255, 0.2);
  --slider-bg-first: #9d8b84;
  --slider-bg-second: #8996a6;
  --slider-bg-third: #849d8f;
  --underline-modal-link: rgba(148, 141, 141, 0.3);
  --modal-border: #d3d3d2;
  --open-page-link: #d07058;
  --catalog-item-hover: #fbded7;
  --catalog-item-active: #f6b5a5;
  --btn-gradient-left: #f26843;
  --btn-gradient-right: #e74a35;
  --btn-gradient-left-hover: #f27c43;
  --btn-gradient-dark-active: rgba(0, 0, 0, 0.07);
  --btn-text-shadow: rgba(160, 32, 11, 0.76);
  --btn-box-shadow: rgba(172, 16, 0, 0.64);
  --btn-box-shadow-hover: #ac1000;
  --btn-box-shadow-active: #942718;
  --link-text-light: #ffbc9e;
  --link-text-dark: #e84d37;
  --site-nav-link-active: #696969;
  --site-nav-link-active-bg: #ededed;
  --product-text-shadow: rgba(49, 50, 53, 0.5);
  --input-border-active: rgba(46, 136, 228, 0.52);
  --product-price: #ababab;
  --filter-bar-light: rgba(248, 247, 244, 0.5);
  --filter-checkbox: rgba(255, 255, 255, 0.8);
  --controls-bg: rgba(255, 255, 255, 0.4);
  --divider-color: #cacac7;
  --cross-color: #231f20;
  --overlay: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.inner-page {
  background-color: var(--slider-bg-third);
}

.page-body {
  margin: 0 auto;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--default-light-text);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 27px;
}

/* buttons  */

.btn {
  color: var(--default-light-text);
  background-image: linear-gradient(
    180deg,
    var(--btn-gradient-left) 0%,
    var(--btn-gradient-right) 100%
  );
  box-shadow: 0px 2px 2px var(--btn-box-shadow);
  text-shadow: 0px 2px 5px var(--btn-text-shadow);
  border-radius: 70px;
  padding: 8px 16px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  outline-style: none;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(
      0deg,
      var(--translucent-light),
      var(--translucent-light)
    ),
    linear-gradient(
      180deg,
      var(--btn-gradient-left-hover) 0%,
      var(--btn-gradient-right) 100%
    );
  box-shadow: 0px 2px 2px var(--btn-box-shadow-hover);
  border-radius: 70px;
}

.btn:active {
  background: linear-gradient(
      0deg,
      var(--btn-gradient-dark-active),
      var(--btn-gradient-dark-active)
    ),
    linear-gradient(
      180deg,
      var(--btn-gradient-left) 0%,
      var(--btn-gradient-right) 100%
    );
  box-shadow: inset 0px 2px 2px var(--btn-box-shadow-active);
}

.search-button,
.login-button,
.cart-button,
.control {
  outline-style: none;
  border: none;
  cursor: pointer;
}

/* Слайдер фонов  */

.promo-slider {
  padding-top: 324px;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-controls {
  width: 79px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 21px;
  z-index: 20;
}

.slide-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  margin-bottom: 27px;
}

.slide-btn {
  display: inline-block;
  padding: 9px 23px;
  font-weight: 700;
  margin-left: -15px;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
}

.control {
  padding: 0;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 2px solid var(--default-light-text);
  background-color: transparent;
  cursor: pointer;
}

.control:hover {
  background-color: var(--controls-bg);
}

.control:active {
  background-color: var(--default-light-text);
}

.control-current:hover {
  background-color: var(--default-light-text);
}

.control-current {
  background-color: var(--default-light-text);
}

.wrapper {
  background-repeat: no-repeat;
  background-position: top center;
}

.wrapper-1 {
  background-color: var(--slider-bg-first);
  background-image: url(./../img/hits/slider-item-1.png);
}

.wrapper-2 {
  background-color: var(--slider-bg-second);
  background-image: url(./../img/hits/slider-item-2.png);
}

.wrapper-3 {
  background-color: var(--slider-bg-third);
  background-image: url(./../img/hits/slider-item-3.png);
}

* {
  box-sizing: border-box;
}

._hidden {
  display: none;
}

img {
  max-width: 100%;
}

/* убрать эту а - заменить на список селекторов
 */
a {
  text-decoration: none;
  color: var(--default-light-text);
}

.site-navigation,
.hit-list,
.social-list,
.info-list,
.breadcrumbs,
.catalog-items,
.catalog-list,
.pagination,
.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-header {
  display: flex;
  flex-direction: column;
  margin-top: 9px;
  position: relative;
}

/* site navigation  */

.main-header-logo {
  display: block;
  width: 154px;
  height: 64px;
  margin-right: 11px;
}

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
}

.site-nav-link {
  display: block;
  transition: color 0.3s;
  padding: 6px 14px 6px 14px;
  border-radius: 26px;
  margin-right: 6px;
  transition: background-color 0.3s;
}

.nav-link-name {
  font-weight: 700;
  border-bottom: 1px solid var(--translucent-light);
}

.site-nav-link:hover {
  background-color: var(--default-light-text);
}

.site-nav-link:hover {
  color: var(--default-dark-text);
  text-decoration: none;
  border: none;
}

.site-nav-link:active {
  background: var(--site-nav-link-active-bg);
  box-shadow: inset 0px 2px 1px var(--site-nav-link-active);
  border-radius: 26px;
  color: var(--default-dark-text);
}

.choosen-page {
  background: var(--open-page-link);
}

.choosen-page:hover {
  background: var(--open-page-link);
  color: var(--default-light-text);
}

.choosen-page .nav-link-name {
  border: none;
}

/* user navigation  */

.user-navigation {
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.user-nav-button {
  background: var(--translucent-light);
  border-radius: 20px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 8px 16px;
  color: var(--default-light-text);
}

.user-nav-button .user-nav-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.poducts-quantity.user-nav-name {
  color: var(--default-dark-text);
}
.user-nav-button:hover {
  background-color: var(--default-light-text);
  fill: var(--default-dark-text);
  color: var(--default-dark-text);
}

.user-nav-button:hover .nav-icon {
  fill: var(--default-dark-text);
}

.search-button {
  width: 32px;
  padding: 0;
  border-radius: 50%;
}

.nav-icon {
  fill: var(--default-light-text);
}

.search-button .user-nav-name {
  display: none;
}

.basket-icon,
.full-basket-icon,
.login-icon {
  margin-right: 8px;
}

.login-icon {
  margin-top: -4px;
}
/* Calls information  */

.calls-info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: column;
  font-weight: 700;
  margin-top: 2px;
}

.calls-info {
  position: absolute;
  bottom: -50px;
  right: 27px;
}

.calls-time {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

.calls-number {
  font-size: 22px;
  line-height: 24px;
}

/* stock */

.stock {
  height: 229px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.stock .banner {
  font-size: 18px;
  line-height: 22px;
}

.banner {
  border-radius: 16px;
  /* padding: 14px 22px 21px 16px; */
  width: 560px;
  background-repeat: no-repeat;
  background-size: cover;
}

.stock-item {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  padding: 14px 22px 21px 16px;
}

.stock-item .btn {
  font-size: 18px;
  line-height: 24px;
  margin-top: auto;
  margin-left: auto;
  height: 48px;
  padding: 0 22px;
}

.banner-title {
  font-size: 35px;
  line-height: 41px;
}

.banner-text {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-top: 20px;
}
.stock-item-right .banner-text {
  margin-top: 18px;
}

.stock-item-left {
  grid-column: 1 / 2;
  background-image: url("./../img/src/backgrounds/raspberries-background.jpg");
  background-color: var(--site-nav-link-active);
}

.stock-item-right {
  grid-column: 2 / 3;
  background-image: url("./../img/src/backgrounds/chocolat-background.jpg");
  background-color: var(--site-nav-link-active);
}

/* hits  */

.hits {
  margin-bottom: 45px;
}

.fast-view-btn {
  margin-top: 11px;
  display: none;
}

.product-preview {
  justify-self: center;
  text-align: center;
  position: relative;
}

.product-overlay {
  background-color: var(--translucent-light);
  position: absolute;
  top: -6px;
  left: -13px;
  right: -13px;
  bottom: -74px;
  opacity: 0;
}

.fast-view-btn {
  display: none;
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 16px;
}

.product-preview:hover {
  z-index: 20;
}

.product-preview:hover .product-overlay {
  opacity: 1;
}

.product-preview:hover .fast-view-btn {
  display: block;
}

.hit-list,
.catalog-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;
  row-gap: 37px;
}

.product-thumb {
  border-radius: 50%;
  margin-bottom: 7px;
}

.product-thumb-wrapper {
  background-color: var(--site-nav-link-active);
  width: 267px;
  height: 267px;
  border-radius: 50%;
}

.product-description {
  margin-top: 8px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  border-bottom: 1px solid var(--translucent-light);
}

.product-info {
  position: absolute;
  top: 206px;
  left: 0px;
  font-weight: 700;
  text-shadow: 0px 1px 3px var(--product-text-shadow);
}

.product-price {
  font-size: 45px;
  line-height: 45px;
}

.product-weight {
  font-size: 30px;
  line-height: 35px;
}

.product-image {
  position: relative;
  display: block;
}

.hit-icon {
  position: absolute;
  top: 0;
  left: 0;
}

/* advantages  */

.advantages-wrapper {
  margin-bottom: 40px;
}

.advantages {
  width: 1146px;
  height: 306px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  padding-left: 20px;
  border-radius: 16px;
  color: var(--default-dark-text);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./../img/src/backgrounds/profit-background.jpg");
  background-color: var(--site-nav-link-active);
}

.advantages-text {
  margin: 0;
  margin-right: 38px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.advantages-item:nth-child(3) .advantages-text,
.advantages-item:nth-child(5) .advantages-text {
  margin-right: 26px;
}

.advantages-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  grid-column: 1 / 3;
  margin-top: 25px;
}

.advantages-item {
  display: flex;
  margin-top: 7px;
}

.advantages-icon {
  margin-right: 6px;
}

/* advertising реклама блога*/

.banners-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 26px;
  margin-bottom: 40px;
}

.advertising {
  background-image: url("./../img/src/backgrounds/blog-news-background.jpg");
  background-color: var(--site-nav-link-active);
  color: var(--default-dark-text);
  height: 220px;
  grid-column: 1 / 2;
}

.advertising {
  padding-top: 23px;
  padding-left: 20px;
}

.advertaising-link {
  color: var(--default-dark-text);
  border-bottom: 2px solid var(--default-dark-text);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding-top: 8px;
}
/* .advertaising-link::after {
  position: absolute;
  content: '';
  top: 12px;
  left:0;
  width:500px;
  height: 2px;
  background-color: var(--default-dark-text);
} */

.advertising-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

/* mailing  */

.mailing {
  grid-column: 2 / 3;
  padding: 6px;
  height: 220px;
  background-image: url("./../img/src/backgrounds/mailing-background.png");
  background-color: var(--site-nav-link-active);
}

.mailing-text {
  color: var(--dark-text);
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.mailing-form {
  padding: 28px 14px 16px 20px;
  background-color: var(--modal-light-bg);
  border-radius: 16px;
  width: 548px;
  height: 210px;
}

.mailing-form .label {
  display: none;
}

.mailing-form .btn {
  margin: 0;
  padding: 10px 21px 10px 18px;
}

/* map */

.map {
  width: 1200px;
  height: 430px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.iframe-map {
  margin: 0 auto;
}

.address-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.address {
  position: absolute;
  top: 62px;
  right: 27px;
  background-color: var(--address-light-bg);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--default-dark-text);
  width: 303px;
  height: 306px;
  padding: 32px 25px 31px 25px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.map-pin {
  position: absolute;
  top: 136px;
  left: 266px;
}

.address-text {
  margin: 0;
  padding: 0;
}

.address-data,
.address .calls-number {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--default-dark-text);
}

/* FOOTER  */

.main-footer {
  display: flex;
  justify-content: space-between;
  height: 103px;
}

.inner-page .main-footer {
  border-top: 1px solid var(--translucent-light);
}

/* socials  */

.social-list {
  column-gap: 8px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.main-page .social-list {
  margin-top: 17px;
}

.social-link-name {
  visibility: hidden;
}

.social-link {
  cursor: pointer;
}

.social-item {
  transition: background-color 0.5s;
  width: 36px;
  height: 36px;
}

.icon-fill {
  fill: var(--default-light-text);
  fill-opacity: 0.8;
}

.icon-border {
  stroke: var(--default-light-text);
  stroke-opacity: 0.5;
}

.social-item:hover .icon-fill {
  fill-opacity: 1;
}

.social-item:active .icon-fill {
  fill-opacity: 1;
}

.social-item:active .icon-border {
  stroke-opacity: 0.7;
}

/* info  */

.info {
  margin-top: 25px;
  display: flex;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 40px;
}

.main-page .info {
  margin-top: 25px;
}

.info-link {
  border-bottom: 1px solid var(--translucent-light);
}

.info-item {
  margin-top: 7px;
}

.info-list {
  margin-right: 14px;
}

.info-list:nth-of-type(2) {
  margin-left: 20px;
}

.for-providers-link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  position: relative;
}

.heart-icon {
  position: absolute;
  content: "";
  top: 3px;
  left: -22px;
  height: 13px;
  width: 15px;
  fill: var(--default-light-text);
}

.for-providers-link:hover .heart-icon {
  fill: var(--link-text-light);
}

/* copyright  */

.copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-top: 18px;
}

.main-page .copyright {
  margin-top: 18px;
}

.copyright-text {
  margin: 0;
}

/* CATALOG !  */

.inner-content .section-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-top: 9px;
}

/* breadcrumbs */

.breadcrumbs {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  margin-top: 27px;
}

.breadcrumbs-item {
  border-bottom: 1px solid var(--translucent-light);
  margin-right: 23px;
  position: relative;
}

.pointer-icon {
  position: absolute;
  top: 40%;
  left: 60px;
  width: 6px;
  height: 6px;
  fill: var(--default-light-text);
}

.breadcrumbs-item:hover .pointer-icon {
  fill: var(--link-text-light);
}

.filters-result {
  padding-bottom: 10px;
}

.page-title {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

/* filters  */

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.filter {
  background-color: var(--translucent-light);
  border-style: none;
  outline-style: none;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--default-light-text);
  height: 36px;
  margin-right: 15px;
}

.filter-wrapper {
  border-style: none;
  outline-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filter-wrapper .legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
}

.sorting-list {
  padding: 0 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 196px;
  height: 36px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.sorting-list:hover {
  color: var(--default-dark-text);
}

.caret-wrapper {
  position: relative;
}

.caret {
  position: absolute;
  left: 170px;
  top: 13px;
  fill: var(--default-light-text);
}

.caret-wrapper:hover .caret {
  fill: var(--default-dark-text);
}

.filters-sumbit {
  background: var(--translucent-light);
  border: 2px solid var(--default-light-text);
  border-radius: 20px;
  color: var(--default-light-text);
  padding: 0 29px;
  height: 34px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  margin-top: 38px;
}

.filters-sumbit:hover {
  color: var(--default-dark-text);
  background-color: var(--default-light-text);
}

.filters-sumbit:active {
  border: none;
  color: var(--default-dark-text);
  background-color: var(--default-light-text);
  box-shadow: inset 0px 2px 1px var(--site-nav-link-active);
}

.label-for-radio {
  position: relative;
  white-space: nowrap;
  color: var(--filter-checkbox);
  cursor: pointer;
}

.label-for-radio::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -35px;
  width: 15px;
  height: 15px;
  border: 4px solid var(--filter-checkbox);
  border-radius: 50%;
}

.radio-wrapper {
  transition: color 0.3s, border-color 0.3s;
  display: flex;
}

.radio-wrapper:hover > .label-for-radio::before {
  border-color: var(--default-light-text);
}

.radio-wrapper:hover > .label-for-radio::after {
  border-color: var(--default-light-text);
}

.label-for-radio:hover {
  color: var(--default-light-text);
}

.radio:checked + .label-for-radio::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -27px;
  width: 7px;
  height: 7px;
  background-color: var(--filter-checkbox);
  border-radius: 50%;
}

.radio:checked + .label-for-radio::after {
  content: "";
  top: 4px;
  left: -27px;
  width: 7px;
  height: 7px;
  background-color: var(--filter-checkbox);
  position: absolute;
}

fieldset {
  padding: 0;
  margin: 0;
}

.fat-types-wrapper {
  display: flex;
  padding-top: 11px;
  padding-left: 48px;
  justify-content: space-between;
  height: 36px;
  padding-right: 23px;
  width: 425px;
}

.blocked {
  color: var(--default-box-shadow);
}

.checkbox-wrapper {
  display: flex;
  position: relative;
}

.checkbox-icon {
  fill: var(--filter-checkbox);
  cursor: pointer;
  margin-right: 10px;
}

.checkbox-wrapper:hover .checkbox-icon {
  fill: var(--default-light-text);
}

.label-for-checkbox {
  color: var(--filter-checkbox);
  cursor: pointer;
}

.checkbox-wrapper:hover .label-for-checkbox {
  color: var(--default-light-text);
}

.checkbox {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 20px;
}
.checkbox ~ .checkbox-off {
  display: block;
}
.checkbox ~ .checkbox-on {
  display: none;
}
.checkbox:checked ~ .checkbox-on {
  display: block;
}
.checkbox:checked ~ .checkbox-off {
  display: none;
}

.flavor-types-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 18px;
  min-width: 711px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-top: 3px;
}

.flavor-filter-wrapper {
  margin-top: 13px;
}

/* Price-filter */

.range-controls {
  width: 218px;
  position: relative;
  padding: 17px 21px;
}

.scale {
  height: 2px;
  background-color: var(--filter-bar-light);
}

.bar {
  width: 70%;
  height: 2px;
  background-color: var(--modal-light-bg);
}

.toggle {
  top: 7px;
  position: absolute;
  /* width: 20px;
  height: 20px; */
  border: 8px solid var(--default-light-text);
  background-color: var(--product-price);
  border-radius: 50%;
  padding: 2px;
}

.toggle:hover {
  top: 6px;
  border-width: 10px;
}
.min-price,
.max-price {
  margin: 0;
  padding: 0;
}

.legend {
  margin-left: 16px;
}

/* modals windows  */

.modal {
  background-color: var(--modal-light-bg);
}

/* catalog menu  */

.catalog-modal-wrapper {
  position: absolute;
  display: none;
  top: 35px;
  left: 0px;
}

.catalog-nav-link {
  position: relative;
}

.catalog-nav-link:hover .catalog-modal-wrapper {
  display: block;
}

.catalog-modal {
  overflow: hidden;
  width: 143px;
  border-radius: 4px;
  position: relative;
  box-shadow: 0px 20px 20px var(--default-box-shadow);
}

.catalog-modal::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 6px;
  width: 128px;
  height: 1px;
  background-color: var(--catalog-bg);
}

.catalog-link {
  color: var(--default-dark-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.catalog-items {
  margin-bottom: 77px;
  row-gap: 37px;
  margin-top: 40px;
}

.catalog-item {
  padding-top: 6px;
  padding-left: 21px;
  padding-bottom: 6px;
  position: relative;
}

.catalog-item:hover {
  background-color: var(--catalog-item-hover);
  z-index: 20;
}

.catalog-item:active {
  background-color: var(--catalog-item-active);
}

.new-item .catalog-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.catalog-item:last-child {
  padding-bottom: 14px;
}

.new-item {
  padding-top: 13px;
  padding-left: 21px;
  padding-bottom: 10px;
}

.new-item:hover {
  background-color: var(--catalog-item-hover);
}

/* login  */

.login-nav-btn {
  position: relative;
}

.login-modal-wrapper {
  position: absolute;
  top: 40px;
  right: 0px;
  z-index: 20;
  display: none;
}

.login-nav-btn:hover .login-modal-wrapper {
  display: block;
}
.login {
  display: flex;
  flex-direction: column;
  width: 277px;
  height: 214px;
  border-radius: 4px;
  padding-top: 20px;
  padding-left: 19px;
  padding-right: 16px;
  background: var(--modal-light-bg);
  box-shadow: 0px 20px 20px var(--default-box-shadow);
}

.login-form label {
  display: none;
}

.btn-link {
  outline-style: none;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  background-color: var(--modal-light-bg);
}

.btn-link .link-text {
  border-bottom: 1px solid var(--underline-modal-link);
}

.links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-wrapper .btn {
  padding: 10px 26px 10px 25px;
}

/* inputs  */

.input {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  border: 1px solid var(--default-input-border);
  outline-style: none;
  box-sizing: border-box;
}

/* добавить инпут с введенными данными  */
.input:hover {
  border-width: 2px;
  padding-top: 13px;
  padding-left: 13px;
  padding-bottom: 13px;
}

.input:active {
  border: 2px solid var(--input-border-active);
}

.login-form .input {
  width: 241px;
  height: 44px;
  margin-bottom: 20px;
}

.filter .input {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.mailing-form .input {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 368px;
  height: 44px;
  padding-left: 14px;
  padding-bottom: 14px;
  margin-right: 6px;
  margin-top: 39px;
}

.search,
.input {
  width: 311px;
  height: 44px;
}

/* .search  */

.search-nav-btn {
  position: relative;
}

.search-modal-wrapper {
  position: absolute;
  top: 40px;
  right: 0px;
  display: none;
  z-index: 20;
}

.search-nav-btn:hover .search-modal-wrapper {
  display: block;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-radius: 4px;
  width: 341px;
  height: 84px;
  box-shadow: 0px 20px 20px var(--default-box-shadow);
}

.search .label {
  display: none;
}

/* feedback  */

._close-feedback-form {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.feedback-modal-wrapper {
  position: fixed;
  margin: 0 auto;
  display: none;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  place-items: center;
}

.feedback {
  display: flex;
  flex-direction: column;
  height: 441px;
  width: 477px;
  border-radius: 4px;
  padding: 20px 25px 27px 24px;
  position: relative;
}

.cross-icon-feedback {
  position: absolute;
  top: 15px;
  right: 16px;
  fill: var(--cross-color);
}

.feedback .label {
  display: none;
}

.feedback .input {
  margin-top: 20px;
  width: 267px;
  height: 44px;
}

.feedback-text {
  color: var(--default-dark-text);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.user-text {
  border-radius: 4px;
  border: 1px solid var(--default-input-border);
  outline-style: none;
  margin-top: 20px;
  padding: 16px 14px 16px 14px;
  height: 154px;
  width: 428px;
  display: flex;
}

.user-text::placeholder {
  transform: translateY(-50px);
}

.feedback .btn {
  display: block;
  margin-top: 25px;
  margin-left: auto;
}

/* cart  */

.cart-nav-btn {
  position: relative;
}

.cart-modal-wrapper {
  position: absolute;
  top: 25px;
  right: 0px;
  z-index: 20;
  display: none;
}

.cart-nav-btn:hover .cart-modal-wrapper {
  display: block;
}

.cart {
  color: var(--default-dark-text);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.full-basket-button {
  background-color: var(--default-light-text);
}

/* pagination */

.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.pagination-item {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  cursor: pointer;
  margin-bottom: 8px;
}

.pagination-item:hover {
  background-color: var(--translucent-light);
}

.pagination-item:active {
  background-color: var(--default-light-text);
  color: var(--default-dark-text);
}

.pagination-button {
  border: none;
  background: none;
  outline-style: none;
}

.pag-btn-fill {
  fill: var(--default-light-text);
}

/* cart  */

.cart {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--default-dark-text);
  width: 539px;
  height: 242px;
  padding-top: 20px;
  box-shadow: 0px 20px 20px var(--default-box-shadow);
  border-radius: 4px;
  /* потом убрать */
  margin-top: 10px;
}

.cart-price {
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  padding-top: 18px;
  margin-bottom: 15px;
}

.cart .product-price {
  color: var(--product-price);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.cart-product-image {
  border-radius: 50%;
  margin-right: 13px;
}

.cart-product-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding-top: 7px;
  max-width: 216px;
}

.cart-item {
  margin-right: 31px;
  margin-left: 26px;
  white-space: nowrap;
}

.product-info-cart {
  display: flex;
  padding-left: 21px;
  padding-bottom: 20px;
  padding-right: 34px;
}

.product-sum {
  white-space: nowrap;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--divider-color);
}

.price-info-cart {
  padding-left: 15px;
  padding-right: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cross-icon {
  margin-right: 9px;
}

/* ОФормление ссылок  */

.dark-link {
  color: var(--default-dark-text);
}

.dark-link:hover {
  color: var(--full-basket-color);
}

.dark-link:active {
  color: var(--full-basket-color);
}

.light-link {
  color: var(--default-light-text);
}

.light-link:hover {
  color: var(--link-text-light);
}

.light-link:active {
  color: var(--link-text-light);
}
