@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("./../fonts/roboto.woff2") format("woff2"),
    url("./../fonts/roboto.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), url("./../fonts/robotobold.woff2") format("woff2"),
    url("./../fonts/robotobold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"),
    url("./../fonts/robotomedium.woff2") format("woff2"),
    url("./../fonts/robotomedium.woff") format("woff");
}
:root {
  --default-light-text: #fff;
  --default-dark-text: #323232;
  --default-light-bg: #fff;

  --default-input-border: rgba(178, 178, 178, 0.52);

  --dark-text: #5a5a5a;
  --default-box-shadow: rgba(0, 0, 0, 0.4);

  --modal-light-bg: #f8f7f4;
  --adress-light-bg: #fefefe;
  --placeholder-color: #999999;

  --full-basket-color: #e84d37;
  --catalog-bg: rgba(50, 50, 50, 0.2);
  --translucent-light: rgba(255, 255, 255, 0.2);

  --main-bg-first: #9d8b84;
  --main-bg-second: #8996a6;
  --main-bg-third: #849d8f;

  --underline-modal-link: rgba(148, 141, 141, 0.3);
  --modal-border: #d3d3d2;

  --open-page-link: #d07058;

  --catalog-item-hover: #fbded7;
  --catalog-item-active: #f6b5a5;

  --btn-gradient-left: #f26843;
  --btn-gradient-right: #e74a35;
  --btn-gradient-left-hover: #f27c43;
  --btn-gradient-dark-active: rgba(0, 0, 0, 0.07);

  --btn-text-shadow: rgba(160, 32, 11, 0.76);
  --btn-box-shadow: rgba(172, 16, 0, 0.64);
  --btn-box-shadow-hover: #ac1000;
  --btn-box-shadow-active: #942718;

  --link-text-light: #ffbc9e;
  --link-text-dark: #e84d37;

  --site-nav-link-active: #696969;
  --site-nav-link-active-bg: #ededed;

  --product-text-shadow: rgba(49, 50, 53, 0.5);

  --input-border-active: rgba(46, 136, 228, 0.52);
}
* {
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 9px 27px 0 27px;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: var(--default-light-text);
}
.section-title {
  display: none;
}
.main-body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--default-light-text);

  background-color: var(--main-bg-first);
}
button {
  border: none;
  outline-style: none;
}
/* buttons  */
.btn {
  color: var(--default-light-text);
  background-image: linear-gradient(
    180deg,
    var(--btn-gradient-left) 0%,
    var(--btn-gradient-right) 100%
  );
  box-shadow: 0px 2px 2px var(--btn-box-shadow);
  text-shadow: 0px 2px 5px var(--btn-text-shadow);

  border-radius: 70px;
  padding: 8px 16px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.btn:hover {
  background: linear-gradient(
      0deg,
      var(--translucent-light),
      var(--translucent-light)
    ),
    linear-gradient(
      180deg,
      var(--btn-gradient-left-hover) 0%,
      var(--btn-gradient-right) 100%
    );
  box-shadow: 0px 2px 2px var(--btn-box-shadow-hover);
  border-radius: 70px;
}
.btn:active {
  background: linear-gradient(
      0deg,
      var(--btn-gradient-dark-active),
      var(--btn-gradient-dark-active)
    ),
    linear-gradient(
      180deg,
      var(--btn-gradient-left) 0%,
      var(--btn-gradient-right) 100%
    );
  box-shadow: inset 0px 2px 2px var(--btn-box-shadow-active);
}
.main-header {
  display: flex;
  justify-content: space-between;

  position: relative;
  padding: 9px 0;
}
/* site navigation  */
.logo {
  margin-right: 9px;
}
.site-nav {
  display: flex;
}
.site-nav-list {
  display: flex;

  padding: 0;
  margin: 0;
  margin-top: 17px;

  list-style: none;
}
.site-nav-link {
  position: relative;
  transition: color 0.3s;

  margin-right: 32px;
  padding: 9px 13px 11px 13px;
  border-radius: 26px;
}
.site-nav-link .nav-link-name {
  border-bottom: 1px solid var(--translucent-light);
}
.site-nav-link:hover {
  background-color: var(--default-light-bg);
}
.site-nav-link:hover {
  color: var(--default-dark-text);
  text-decoration: none;
  border: none;
}
.site-nav-link:active {
  background: var(--site-nav-link-active-bg);
  box-shadow: inset 0px 2px 1px var(--site-nav-link-active);
  border-radius: 26px;

  color: var(--default-dark-text);
}
.choosen-page {
  background: var(--open-page-link);
}
.choosen-page .nav-link-name {
  border: none;
}
/* user navigation  */
.user-nav {
  display: flex;
  margin-top: 7px;
}
.user-nav {
  display: none;
}
.user-nav-button {
  background: var(--translucent-light);
  border-radius: 20px;

  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 10px;
  padding: 8px 16px;

  color: var(--default-light-text);
}
.user-nav-button .user-nav-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.user-nav-button:hover {
  background-color: var(--default-light-bg);
  fill: var(--default-dark-text);
  color: var(--default-dark-text);
}
.user-nav-button:hover .nav-icon {
  fill: var(--default-dark-text);
}
.search-button {
  width: 32px;

  padding: 0;

  border-radius: 50%;
}
.nav-icon {
  fill: var(--default-light-text);
}
.search-button .user-nav-name {
  display: none;
}
.basket-icon,
.login-icon {
  margin-right: 8px;
}
/* Calls information  */
.calls-info {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  position: absolute;
  top: 70px;
  right: 0px;

  font-weight: 700;
}
.calls-time {
  font-size: 14px;
  line-height: 16px;

  margin-bottom: 8px;
}
.calls-number {
  font-size: 22px;
  line-height: 24px;
}
/* slider  */
.slider-item {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;

  color:var(--default-light-text);
}
/* stock */
.stock {
  display: flex;
  margin-top: 40px;
  height: 229px;
}
.stock .banner {
  font-size: 18px;
  line-height: 22px;
}
.banner {
  border-radius: 16px;
  padding: 16px 22px;

  width: 560px;

  background-repeat: no-repeat;
  background-size: cover;
}
.stock-item {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}
.stock-item .btn {
  font-size: 18px;
  line-height: 24px;
  margin-top: auto;
  margin-left: auto;

  padding: 15px 22px 16px;
}
.stock-item .banner-title {
  font-size: 35px;
  line-height: 41px;
}
.stock-item .banner-text {
  font-size: 18px;
  line-height: 22px;
}
.stock-item-left {
  background-image: url("./../img/src/backgrounds/raspberries-background.jpg");
}
.stock-item-right {
  background-image: url("./../img/src/backgrounds/chocolat-background.jpg");
}
/* hits  */
.hits {
  margin-top: 40px;
  margin-bottom: 40px;
}
.product-preview {
  width: 267px;
  height: 324px;
}
.product-preview + .product-preview {
  margin-left: 26px;
  margin-bottom: 40px;
}
.hit-list {
  display: flex;

  padding: 0;
  margin: 0;
}
.product-thumb {
  border-radius: 50%;
}
.product-description {
  font-weight: 400;
  line-height: 22px;
}
.product-info {
  position: absolute;
  top: 220px;
  left: 0;

  font-weight: 700;
  text-shadow: 0px 1px 3px var(--product-text-shadow);
}
.product-price {
  font-size: 45px;
  line-height: 45px;
}
.product-weight {
  font-size: 30px;
  line-height: 35px;
}
.product-image {
  position: relative;
  display: block;
}
.hit-icon {
  position: absolute;
  top: 0;
  left: 0;
}
/* advantages  */
.advantages {
  width: 1146px;
  height: 306px;

  padding-left: 20px;
  padding-top: 24px;
  padding-right: 23px;

  margin-top: 40px;
  margin-bottom: 40px;

  border-radius: 16px;
  color: var(--default-dark-text);

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./../img/src/backgrounds/profit-background.jpg");
}
.advantages-column-wrapper {
  display: flex;
}
.advantages p {
  margin: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.advantages-item {
  display: flex;

  margin-top: 7px;
}
.advantages-column {
  width: 50%;
}
.advantages-column + .advantages-column {
  margin-left: 27px;
}
.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  padding-top: 10px;
}
.advantages-icon {
  margin-right: 6px;
}
/* advertising реклама блога*/
.banners-wrapper {
  display: flex;
}
.banner + .banner {
  margin-left: 26px;
}
.advertising {
  background-image: url("./../img/src/backgrounds/blog-news-background.jpg");
  color: var(--default-dark-text);
  height: 220px;
}
.advertaising-link {
  color: var(--default-dark-text);
  border-bottom: 2px solid var(--default-dark-text);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.advertising-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
/* mailing  */
.mailing {
  padding: 6px;
  padding-bottom: 41px;
  height: 220px;
  background-image: url("./../img/src/backgrounds/mailing-background.png");
}
.mailing-text {
  color: var(--dark-text);
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  padding: 0;
  margin: 0;

  margin-bottom: 46px;
}
.mailing-form {
  padding: 29px 16px 16px 20px;
  background-color: var(--modal-light-bg);
  border-radius: 16px;
  width: 548px;
  height: 210px;
}
.mailing-form .label {
  display: none;
}
/* map */
.address {
  margin-top: 44px;

  background-color: var(--adress-light-bg);

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--default-dark-text);

  width: 303px;
  height: 306px;

  padding: 32px 25px 31px 25px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.address-text {
  margin: 0;
  padding: 0;
}
.address-data,
.address .calls-number {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  color: var(--default-dark-text);
}
/* FOOTER  */
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
/* socials  */
.social-list {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}
.social-link {
  visibility: hidden;
}
.social-item {
  width: 32px;
  height: 32px;
  background-size: cover;
}
.social-item + .social-item {
  margin-left: 8px;
}
.facebook {
  background-image: url("./../img/src/svg/social-icon-fasebook.svg");
}
.vk {
  background-image: url("./../img/src/svg/social-icon-vk.svg");
}
.twitter {
  background-image: url("./../img/src/svg/social-icon-twitter.svg");
}
.instagram {
  background-image: url("./../img/src/svg/social-icon-instagram.svg");
}
/* info  */
.info {
  display: flex;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.info-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.info-link {
  border-bottom: 1px solid var(--translucent-light);
}
.info-item {
  margin-top: 8px;
  margin-right: 22px;
}
.info-item:first-child {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
}
/* copyright  */
.copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.copyright-text {
  margin: 0;
}
/* CATALOG !  */
.ice-cream-page .section-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-top: 9px;
}
/* breadcrumbs */
.breadcrumbs {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  padding: 0;
  margin: 0;

  display: flex;
  margin-top: 27px;

  list-style: none;
}
.breadcrumbs-item {
  border-bottom: 1px solid var(--translucent-light);
  margin-right: 23px;

  position: relative;
}
.breadcrumbs-item::after {
  position: absolute;
  top: 40%;
  left: 60px;
  content: "";
  width: 6px;
  height: 6px;

  background-image: url(./../img/src/svg/pointer-icon.svg);
}
.catalog-items {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}
.product-preview:nth-child(4n + 1) {
  margin: 0;
  padding: 0;
}
/* filters  */
.filters {
  display: flex;
}
.filter {
  background-color: var(--translucent-light);
  border-style: none;
  outline-style: none;
  border-radius: 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--default-light-text);

  height: 36px;
}
.filter-wrapper {
  border-style: none;
  outline-style: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.sorting-list {
  width: 196px;
  height: 36px;
}
.sorting-list:hover {
  color: var(--default-dark-text);
}
.filters-wrapper {
  display: flex;
}
.filters-sumbit {
  background: var(--translucent-light);
  border: 2px solid var(--default-light-bg);
  border-radius: 20px;

  color: var(--default-light-text);
  padding: 0 29px;
  /* width: 144px; */
  height: 36px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.filters-sumbit:hover {
  color: var(--default-dark-text);
  background-color: var(--default-light-bg);
}
.filters-sumbit:active {
  border: none;
  color: var(--default-dark-text);
  background-color: var(--default-light-bg);
  box-shadow: inset 0px 2px 1px var(--site-nav-link-active);
}
/* modals windows  */
.modal {
  /* Для красоты, временно  */
  margin: 20px;

  background-color: var(--modal-light-bg);
}
/* catalog menu  */
.catalog-selector {
  overflow: hidden;

  width: 143px;

  border-radius: 4px;

  position: relative;

  box-shadow: 0px 20px 20px var(--default-box-shadow);
}
.catalog-selector::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 6px;

  width: 128px;
  height: 1px;
  background-color: var(--catalog-bg);
}
.catalog-link {
  color: var(--default-dark-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.catalog-item {
  padding-top: 6px;
  padding-left: 21px;
  padding-bottom: 6px;
}
.catalog-item:hover {
  background-color: var(--catalog-item-hover);
}
.catalog-item:active {
  background-color: var(--catalog-item-active);
}
.new-item .catalog-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.catalog-item:last-child {
  padding-bottom: 14px;
}
.new-item {
  padding-top: 13px;
  padding-left: 21px;
  padding-bottom: 10px;
}
.new-item:hover {
  background-color: var(--catalog-item-hover);
}
/* login  */
.login {
  display: flex;
  flex-direction: column;
  width: 277px;
  height: 214px;

  border-radius: 4px;

  padding-top: 20px;
  padding-left: 19px;
  padding-right: 16px;

  background: var(--modal-light-bg);
  box-shadow: 0px 20px 20px var(--default-box-shadow);
}
.login-form label {
  display: none;
}
.btn-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  color: var(--default-dark-text);
  background-color: var(--modal-light-bg);
}
.btn-link .link-text {
  border-bottom: 1px solid var(--underline-modal-link);
}
.links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons-wrapper .btn {
  padding: 10px 26px 10px 25px;
}
/* inputs  */
.input {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;

  border-radius: 4px;
  border: 1px solid var(--default-input-border);
  outline-style: none;
}
/* добавить инпут с введенными данными  */
.input:hover {
  border-width: 2px;
}
.input:active {
  border: 2px solid var(--input-border-active);
}
.login-form .input {
  width: 241px;
  height: 44px;

  margin-bottom: 20px;
}
.filter .input {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.mailing-form .input {
  width: 368px;
  height: 44px;

  padding-left: 14px;
  padding-bottom: 14px;
  margin-right: 10px;
}
.search,
.input {
  width: 311px;
  height: 44px;
}
/* .search  */
.search {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px 20px;
  border-radius: 4px;

  width: 341px;
  height: 84px;
}
.search .label {
  display: none;
}
/* feedback  */
.feedback {
  display: flex;
  flex-direction: column;

  height: 441px;
  width: 477px;

  border-radius: 4px;

  padding: 20px 25px 27px 24px;
}
.feedback .label {
  display: none;
}
.feedback .input {
  margin-top: 20px;

  width: 267px;
  height: 44px;
}
.feedback-text {
  color: var(--default-dark-text);

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.textarea {
  border-radius: 4px;
  border: 1px solid var(--default-input-border);
  outline-style: none;

  margin-top: 20px;
  padding: 16px 14px 16px 14px;
}
.feedback .btn {
  display: block;

  margin-top: 25px;
  margin-left: auto;
}
/* cart  */
.cart {
  color: var(--default-dark-text);

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
/* pagination */
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}
.pagination-item {
  margin: 0 20px;
}
.pagination-item:hover {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--translucent-light);
}
.pagination-item:active {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--default-light-bg);
  color: var(--default-dark-text);
}
